.notification_msg{
    background-color: #6565bc;
}
.border-blue-500{
    background: cornflowerblue;
    color: white;
}
.border-blue-500:hover{
    background: rgb(78, 117, 190);;
    color: white;
}

.btn-current{
    background: #757575;
    color: white;
}
.btn-current:hover{
    background: #535353;
    color: white;
}